<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<div class='btn' data-cmd="{{ url_for('command', cmd='right') }}">right</div>
<div class='btn' data-cmd="{{ url_for('command', cmd='left') }}">left</div>
<div class='btn' data-cmd="{{ url_for('command', cmd='up') }}">up</div>
<div class='btn' data-cmd="{{ url_for('command', cmd='down') }}">down</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
    var debug;
    $('div').click(function (event) {
        var url = $(this).attr('data-cmd');
        debug = url;
        $.post(url,{}, function (data, textStatus, jqXHR) {
            console.log(data);
        });
    })
</script>



</body>
</html>